body {
    background-color: #ccdbe6;
    margin: 0;
    padding: 0;
}

.wrapper {
    /*height: 550px;*/
    margin: 0px auto;
    border-radius: 10px;
    background-color: #5c9eff;
    padding: 1px;
}

.header {
    height: 30px;
    margin-bottom: 10px;
}

.body {
    min-height: 550px;
    padding: 5px;
    bottom: 55px;
    margin: 5px;
    border-radius: 10px;
    background-color: #fefff3;
    text-align: center;
}

.registrationForm {

}

.footer {
    padding: 5px 0;
    margin: 5px;
    border-radius: 10px;
    background-color: #fefff3;
}

.menuElement {
    height: auto;
    margin: 5px;
    padding: 5px;
    float: right;
    background-color: #fefff3;
    border: 1px solid #5c9eff;
    border-radius: 10px;
}

.toMain {
    float: left;
}

.currentUser {
    width: auto;
    height: auto;
    margin: 5px;
    padding: 5px;
    float: left;
    background-color: #fefff3;
    border-radius: 10px;
}

.footerText {
    margin: 10px;
}

input {
    margin: 5px;
    border-radius: 3px;
}

.clear {
    clear: both;
}

input:focus {
    color: #000000;
    border: 1px solid #000000
}

.errorMessage {
    color: red;
}

.formInput {
    margin-left: 20px;
}

.board {
    float: left;
    border: solid 1px #ccdbe6;
    margin: 0 5px 5px 5px;
    /*padding: 0 5px 5px 5px;*/
    border-radius: 5px;
    width: 19%;
}

.task-block {
    border-radius: 5px;
    margin: 2px;
    padding: 5px;
    border: 1px dashed #ccdbe6;
}

.todoHeader {
    background-color: darkgray;
    border-radius: 5px 5px 0 0;
    height: 20px;
    padding: 3px;
    font-weight: bold;
}

.task-date {
    text-align: right;
    font-size: 13px;
    font-style: italic;
}

.task-title {
    font-size: 17px;
}

.new-task a {
    color: #5c9eff;
    text-decoration: none;
}

.task-link {
    text-decoration: none;
    font-style: inherit;
    font-size: inherit;
    color: inherit;
}

.new-task a:hover {
    text-decoration: underline;
}

/***************************** SINGLE TASK *************************************/
.single-task-block {
    padding: 20px 5px;
    margin: 5px;
    border-radius: 10px;
    border: 1px dashed #ccdbe6;
    min-height: 20px;
}

.taskTitle {
    width: 48%;
    float: left;
}

.taskDate {
    width: 48%;
    float: right;
}

/***************************** SINGLE TASK ADD *************************************/
.submit-block {
    float: left;
    width: 350px;
}

.submit-block textarea {
    width: 300px;
    height: 100px;
}

.form-center {
    width: 760px;
    margin: 0 auto;
}

.info {
    color: #004f02;
}

